<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.githrd.project.dao.CartMapper">
	<!-- 회원별 장바구니 목록 조회 -->
	<!-- <select id="selectList" parameterType="int" resultType="CartVo"> select m.menu_name,
	m.menu_price, c.cart_idx, c.mem_idx, c.menu_idx, c.cart_cnt from cart c INNER JOIN menu_info m
	ON c.menu_idx = m.menu_idx where c.mem_idx=#{mem_idx}  </select> -->
	<select id="selectList" parameterType="int" resultType="CartVo"> select * from cart_view where
		mem_idx = #{mem_idx} </select>

	<!-- cart_idx 1건 조회 -->
	<select id="selectOne" parameterType="int" resultType="CartVo"> select * from cart_view where cart_idx=#{cart_idx} </select>

	<!-- mem_idx 1건 조회 -->
	<select id="selectOneMem" parameterType="int" resultType="CartVo"> select * from cart_view where mem_idx=#{mem_idx} </select>

	<!-- cart_cnt 조회 -->
	<select id="selectOneCnt" parameterType="int" resultType="int"> select cart_cnt from cart_view
		where cart_idx=#{cart_idx} </select>

	<!-- 장바구니에 등록여부 -->
	<select id="selectOneExist" parameterType="CartVo" resultType="CartVo"> select * from cart_view
		where menu_idx=#{menu_idx} and mem_idx=#{mem_idx} </select>

	<!-- 장바구니 총액 구하기 -->
	<select id="selectTotalAmount" parameterType="int" resultType="Integer"> select
		ifnull(sum(amount),0) from cart_view where mem_idx=#{mem_idx} </select>

	<!-- insert -->
	<insert id="insert" parameterType="CartVo"> insert into cart values(null, #{mem_idx},
		#{shop_idx},#{menu_idx}, #{cart_price},#{cart_cnt}) </insert>


	<!-- 메뉴 존재하면 + 1 시키기 -->
	<update id="updateCnt" parameterType="CartVo"> update cart set cart_cnt = cart_cnt + 1 where
		mem_idx = #{mem_idx} and menu_idx = #{menu_idx} </update>

	<!-- 메뉴 cnt - 1 -->
	<update id="cntMinus" parameterType="int"> update cart set cart_cnt = cart_cnt - 1 where
		cart_idx = #{cart_idx} </update>

	<!-- 메뉴 cnt + 1 -->
	<update id="cntPlus" parameterType="int">
		update cart set cart_cnt = cart_cnt + 1 where cart_idx = #{cart_idx}
	</update>

	<!-- 메뉴 전체 삭제 -->
	<delete id="deleteAll" parameterType="int"> delete from cart where mem_idx = #{mem_idx} </delete>

	<!-- 메뉴 1개 삭제 -->
	<delete id="menuDelete" parameterType="int"> delete from cart where cart_idx = #{cart_idx} </delete>


</mapper>