<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.githrd.demo.dao.MemberMapper">

  <!-- 회원전체조회 -->
  <select id="selectList" resultType="com.githrd.demo.vo.MemberVo">
     select * from member order by mem_idx
  </select>
  
  <!-- mem_idx에 해당되는 회원정보 1건  -->
  <select id="selectOneFromIdx"  parameterType="int"  resultType="MemberVo">
     select * from member where mem_idx=#{ mem_idx }
  </select>
  
  <!-- mem_id에 해당되는 회원정보 1건  -->
  <select id="selectOneFromId"  parameterType="String"  resultType="MemberVo">
     select * from member where mem_id=#{ mem_id }
  </select>
  
  <!-- 회원추가 -->
  <insert id="insert"  parameterType="MemberVo">
     insert into member values(null,
                          #{ mem_name },
                          #{ mem_id },
                          #{ mem_pwd },
                          #{ mem_email },
                          #{ mem_zipcode },
                          #{ mem_addr },
                          #{ mem_ip }, 
                           sysdate,
                          '일반')
  </insert>
  
  <!-- 회원수정 -->
  <update id="update"  parameterType="MemberVo">
     update member set mem_name=#{ mem_name },
                       mem_id=#{ mem_id },
                       mem_pwd=#{ mem_pwd },
                       mem_email=#{ mem_email },
                       mem_zipcode=#{ mem_zipcode },
                       mem_addr=#{ mem_addr },
                       mem_grade=#{ mem_grade },
                       mem_ip=#{ mem_ip },
                       mem_regdate=sysdate  
     where mem_idx=#{ mem_idx }
  </update>
  
  <!-- 회원삭제 -->
  <delete id="delete"  parameterType="int">
     delete from member where mem_idx=#{ mem_idx }
  </delete>


</mapper>












