<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.githrd.project.dao.MemberAddrMapper">



   <!-- mem_idx에 해당되는 주소록 가져오기  -->
   <select id="selectList" parameterType="int" resultType="MemberAddrVo">
     select * from mem_addr where mem_idx=#{ mem_idx }
   </select>


   <!-- 주소록추가 -->
   <insert id="insert" parameterType="MemberAddrVo">
     insert into mem_addr values(
                          null,
                          #{ mem_idx },
                          #{ mem_addr1 },
                          #{ mem_addr2 },
                          #{ mem_longitude },
                          #{ mem_latitude },
                          #{ addr_name }

                          )
   </insert>


    <!-- 주소록수정 -->
   <update id="update" parameterType="MemberAddrVo">
     UPDATE mem_addr SET mem_addr1  = #{ mem_addr1 },
                         mem_addr2  = #{ mem_addr2 },
                         mem_name   = #{ mem_name }
     WHERE mcuraddr_idx = #{ mcuraddr_idx }
   </update>

   <!-- 주소 삭제 -->
   <delete id="delete" parameterType="int">
     delete from mem_addr where mcuraddr_idx = #{ mcuraddr_idx }
   </delete>


</mapper>












