<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.githrd.project.dao.NaverMapper">

   <!-- 회원전체조회 -->
   <select id="selectList" resultType="NaverVo">
     select * from sns order by sns_idx
   </select>

   <!-- sns_idx에 해당되는 회원정보 1건  -->
   <select id="selectOneFromIdx" parameterType="int" resultType="NaverVo">
     select * from sns where sns_idx=#{ sns_idx }
   </select>

   <!-- sns_id에 해당되는 회원정보 1건  -->
   <select id="selectOneFromId" parameterType="String" resultType="NaverVo">
     select * from sns where sns_id=#{ sns_id }
   </select>

   <!-- sns 연동 회원 조회 -->
   <select id="selectOneSns" parameterType="String" resultType="NaverVo">
      select a.mem_name,
      a.mem_email,
      a.mem_nickname,
      a.mem_regdate,
      a.mem_update,
      b.sns_id,
      b.sns_type,
      b.sns_name,
      b.sns_regdate
      from sns a,
      sns b
      where
      a.sns_idx = b.sns_idx
      AND b.sns_id = #{sns_id}
   </select>

   <!-- 회원추가 -->
   <insert id="insert" parameterType="NaverVo">
     insert into sns values(
                          null,
                          #{ sns_id },
                          #{ sns_type },
                          #{ sns_name },
                          now()
                          )
   </insert>


   <!-- 회원삭제 -->
   <delete id="delete" parameterType="int">
     delete from sns where sns_idx=#{ sns_idx }
   </delete>


</mapper>












