<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.githrd.project.dao.OwnerReplyMapper">

  <!--전체 가게 리뷰 조회 -->
  <select id="selectList" resultType="OwnerReplyVo">
     select * from owner_reply
  </select>
  
  <!-- owner_idx에 해당되는 회원정보 1건  -->
  <select id="selectOne"  parameterType="int"  resultType="OwnerReplyVo">
     select * from owner_reply where owner_idx=#{ owner_idx } and shop_idx = #{ shop_idx }
  </select>
  

  <!-- 회원추가 -->
  <insert id="insert"  parameterType="OwnerReplyVo">
     insert into owner_reply values(
                          null,
                          #{ mem_idx },
                          #{ review_idx },
                          #{ owner_idx },
                          #{ shop_idx },
                          #{ order_idx },
                          #{ reply_content },
                           1, 
                           now() 
                          )
  </insert>
  

</mapper>
