<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.githrd.project.dao.OwnerMapper">

  <!-- 회원전체조회 -->
  <select id="selectList" resultType="OwnerVo">
     select * from owner order by owner_idx
  </select>
  
  <!-- owner_idx에 해당되는 회원정보 1건  -->
  <select id="selectOneFromIdx"  parameterType="int"  resultType="OwnerVo">
     select * from owner where owner_idx=#{ owner_idx }
  </select>
  
  <!-- owner_id에 해당되는 회원정보 1건  -->
  <select id="selectOneFromId"  parameterType="String"  resultType="OwnerVo">
     select * from owner where owner_id=#{ owner_id }
  </select>

   <!-- 사장님 이메일 인증 api -->
   <select id="selectOneFromEmail"  parameterType="String"  resultType="int">
      SELECT COUNT(*)
      FROM owner
      WHERE owner_email = #{ email }
      </select>

   <!-- 사장님 아이디 비밀번호 찾기 -->
   <select id="selectOneFindInfo"  parameterType="String"  resultType="OwnerVo">
   select owner_id from owner where owner_email=#{ email }
   </select>
  
  <!-- 회원추가 -->
  <insert id="insert"  parameterType="OwnerVo">
     insert into owner values(
                          null,
                          #{ owner_id },
                          #{ owner_pwd },
                          #{ owner_name },
                          #{ owner_email },
                          #{ owner_ip }, 
                           now(),
                           null,
                           #{ owner_num },
                          '대기')
  </insert>
  
  <!-- 회원수정 -->
  <update id="update"  parameterType="OwnerVo">
     update owner set owner_name=#{ owner_name },
                       owner_pwd=#{ owner_pwd },
                       owner_email=#{ owner_email },
                       owner_ip=#{ owner_ip },
                       owner_update = now()  
     where owner_idx=#{ owner_idx }
  </update>

  <!-- 사업자 회원 승인 -->
  <update id="updateApproval"  parameterType="OwnerVo">
     update owner set owner_approve='승인'
     where owner_idx=#{ owner_idx }
  </update>
  
  <!-- 회원삭제 -->
  <delete id="delete"  parameterType="int">
     delete from owner where owner_idx=#{ owner_idx }
  </delete>


</mapper>
