<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.githrd.project.dao.PaymentMapper">

  <!-- 회원 조회 -->
  <select id="selectList" resultType="PaymentVo">
    select * from payment where mem_idx = #{ mem_idx }
  </select>




    <!-- 결제 정보 추가 -->
     <!--                      #{ menu_name },      #{ shop_request },
                           #{ rider_request }, 연동시 추가해야 함 -->
    <insert id="insert" parameterType="PaymentVo" useGeneratedKeys="true" keyProperty="pay_idx">
      insert into payment values(
                           null,
                           #{ mem_idx },
                           #{ cart_idx },
                           #{ mcuraddr_idx },
                           #{ menu_idx },
                           #{ shop_idx },
                           #{ mem_name },
                           #{ mem_phone },
                           '테스트 메뉴',
                           '카카오',
                           '결제완료',
                           now(),
                           #{ imp_uid },
                           #{ merchant_uid },
                           #{ amount },
                           '맛있게 만들어주세요',
                           '조심히 와주세요',
                           null
                           )
  </insert>


</mapper>
