<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.githrd.project.dao.RiderDeliveryFeeMapper">

  <!-- delivery 완료된 테이블 전체조회 -->
  <select id="selectList" resultType="RiderDeliveryFeeVo">
    select * from rider_delivery where delivery_status='Y'
  </select>
  
  <!--  아래 정보가 업데이트된 정보를 새로담는 리스트가 있어야 한다 여기서는 rider_list-->
    <!-- 배차대기 상태에서 배차완료를 누르면 rider_status가 y로 바뀌도록하기  -->
    <update id="riderStatusUpdate" parameterType="Map">
     update delivery set rider_status ='Y',rider_idx=#{rider_idx}
       where order_idx=#{order_idx}
    </update>

       <!-- 배차완료한 배달중 배달현황조회 -->
    <select id="selectRiderList" parameterType="int" resultType="DeliveryVo">
        select * from delivery
        where rider_idx=#{rider_idx} and rider_status='Y' and  delivery_status='N'
    </select>

    <!-- 배달중인 상태에서 배달완료를 누르면 delivery_status가 y로 바뀌도록하기  -->
    <update id="deliveryStatusUpdate" parameterType="Map">
        update delivery set delivery_status ='Y'
          where order_idx=#{order_idx}
       </update>

       <!-- 배달완료한 배달현황조회 -->
       <select id="selectDeliveryCompleteList" parameterType="int" resultType="DeliveryVo">
        select * from delivery
        where rider_idx=#{rider_idx} and delivery_status='Y'
      </select>
       

    
</mapper>
