#box {
  border: 1px solid black;
  /* background-color: white; */
  width: 600px;
  height: auto;
  border-radius: 5px;
  padding-left: 30px;
  /* margin-bottom: 10px; */
  margin: 10px auto;
  display: flex;
}

.order_idx{
    flex: 1;
    font-size: 30px;
    margin: auto;
}

.order_text{
    flex: 3;
    margin: 10px 0;
}

.status-btn {
    flex: 1;
    width: 100px;
    height: 120px;
    margin: 10px 0;
    background-color: #ff694a;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}
