* {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

body {
  background-color: #fafafa;
}

.nav {
  height: 80px;
}

.header {
  height: 100px;
  background: url("../..//images/헤더이미지1.png");
  background-size: cover;
  background-position: center 50%;
}

#search_form {
  width: 550px;
  margin: 0 auto;
  /* margin-top: 20px; */
  padding-top: 20px;
  z-index: 2;
}

#search {
  width: 450px;
  height: 50px;
  display: inline;
}

.btn_search {
  width: 70px;
  height: 50px;
  display: inline-block;
}

.category {
  height: 60px;
  border: 1px solid #d9d9d9;
  background-color: white;
  box-shadow: 0 1px 3px black;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  width: 1050px;
  margin: 10px auto;
}

.container {
  border: 1px solid #d9d9d9;
  background-color: white;
  display: inline-block;
  width: 490px;
  height: 110px;
  margin: 5px 7px;
}

.shop-list {
  display: flex;
  width: 350px;
  margin-top: 8px;
}

#shop_logo {
  width: 90px;
  height: 90px;
  object-fit: cover;
  background-color: #f0f0f0; /* 이미지 없을 때 백업용 배경 */
  display: inline-block;
  flex-shrink: 0;
  flex: 1;
}

#shop_logo img {
  width: 100%;
  height: 100%;
  min-height: 90px;
  object-fit: cover;
}

#shop_content {
  flex: 3;
  padding-left: 10px;
  padding-top: 10px;
  width: 360px;
}

footer {
  width: 100%;
  height: 150px;
  display: block;
  border-top: 1px solid #d9d9d9;
}
