<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <select id="userType" onchange="changeName()">
        <option value="mem_id">회원</option>
        <option value="owner_id">사장님</option>
        <option value="rider_id">라이더</option>
      </select>
      
      <input type="text" id="email" placeholder="아이디" class="input" name="mem_id"/>
      
      <script>
      function changeName() {
        const selected = document.getElementById('userType').value;
        document.getElementById('email').setAttribute('name', selected);
      }
      </script>
</body>
</html>